<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand text-white" routerLink="">
            <i class="fa-solid fa-truck-fast"></i>
            Smart Cart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="nav justify-content-end" id="navbarSupportedContent">

            

            <form class="d-flex">
                <input style="border-radius: 15px;" class="p-2" (keyup)="search($event)" type="text" placeholder="Search products">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="btn btn-outline-dark text-white" aria-current="page" routerLink="wishlist">My Wish
                            List
                            <i class="fa-solid fa-heart" style="color: rgb(224, 37, 37);"></i>
                        </a></li>
                        &nbsp;
                        &nbsp;
                    <li routerLink="addCart">
                        <a class="btn btn-outline-dark text-white" type="submit">
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">{{totalItem}}</span>
                        </a>
                    </li>
                </ul>


            </form>
        </div>
    </div>
</nav>